.about-description-container {
    display: block;
    text-align: justify;
}

.about-description-container p:first-child {
    text-align: center;
}

.about-description-container a {
    color: var(--font-colour);
    text-decoration: none;
    padding-bottom: 0.2em;
    transition: 0.3s ease-in-out;
    border-bottom: 0px solid var(--a-hover-link-colour);
}

.about-description-container a:hover {
    text-decoration: none;
    border-bottom: 4px solid var(--a-hover-link-colour);
}