.common-container {
    border: 2px solid var(--background-colour);
    border-radius: 10px;
    width: auto;
    max-width: 20em;
    padding: 10px;
    box-shadow: 2px 2px black;
}

.common-container:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px black;
}

.common-container h1 {
    color: var(--font-sub-header-size);
}

.common-inner-text-container {
    margin-bottom: 0.5em;
}

.common-container a {
    color: var(--font-paragraph-size);
    text-decoration: none;
    padding-bottom: 0.1em;
    transition: 0.4s ease-in-out;
    border-bottom: 0px solid var(--a-hover-link-colour);
}

.common-container a:hover {
    color: var(--font-paragraph-size);
    border-bottom: 4px solid var(--a-hover-link-colour);
}