html[dark] {
  --background-colour: #181818;
}

html:not([dark]) {
  --background-colour: #f9f9f9;
}

.App {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--background-colour);
}

/* 
.App-header {
  background-color: var(--background-colour);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */