.projects-container {
    height: 100%;
}

.projects-header {
    font-size: var(--font-header-size);
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    color: var(--header-colour);
}

.projects-boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1em;
    row-gap: 1em;
    margin: 0px 15px auto;
    height: calc(100% - 85px);
    /* TEMP BELOW - move to better system on focus*/
    overflow-x: hidden;
    overflow-y: scroll;
}
